
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    background-color: #5fc389;
    background-image: url('D:\\Downloads\\scene.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh
}


#search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#search-button {
    background-color: #ff6768;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #d54c4d;
}

/* Weather information */
#location {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

#temp {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#temp-value {
    font-size: 2rem;
    color: #ffffff;
    margin-right: 5px;
}

#temp-unit {
    font-size: 1.5rem;
    color: #ffffff;
}

#climate {
    font-size: 2rem;
    color: #ffffff;
}


#temp-icon {
    margin: 1rem;
    width: 40%;
    height: auto;
}

